body {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}

.NavBar {
<<<<<<<< HEAD:FrontEnd/site/public/css/times.css
========
    margin-top: 5vh;
>>>>>>>> d34c8ab608446838792d57052239b3fac66881ef:FrontEnd/public/css/times.css
    width: 100%;
    background-color: transparent;
}

.NavBar .container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    top: 2vh;
    
}

.NavBar .container img {
    height: 10vh;
}

.NavBar .links {
    display: flex;
    align-items: center;
}

.NavBar .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 3.7vh;
    padding-right: 3.7vh;
}

.NavBar a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black
}

.NavBar .link:hover{
    background-color:#91969c;
    border-radius: 3%;
    height: 4vh;
}

.caixaQuiz .container {
    background-color: #ffffff;
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
}

.container h3 {
    margin-right: 5vh;
    font-weight: 400;
    font-size: 3vh;
}

.container .botao {
    background-color: #2064CA;
    width: 20vh;
    height: 6vh;
    border-radius: 1vh;

}

.botao a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.botao {
    margin-top: 2vh;
    margin-right: 35vh;
}

p {
    color: #041632;
    text-align: center;
}


.cards p {
    font-weight: 700;
    font-size: 5vh;
}

.title p {
    font-weight: 700;
    font-size: 10vh;
    margin: 0;
    margin-top: 10vh;
}


.valorant {
    display: flex;
    justify-content: center;

}

.rl {

    display: flex;
    justify-content: center;
}

.skate {
    display: flex;
    justify-content: center;
}

.cs {
    display: flex;
    justify-content: center;
}

.r1 {
    display: flex;
    justify-content: center; 
}

.apex {
    display: flex;
    justify-content: center;
}

.xadrez {
    display: flex;
    justify-content: center;
}

.lol {
    display: flex;
    justify-content: center;
}

.csFem {
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.footer .container {
    width: 100%;
    height: 7vh;
    background: #112950;
  }

.footer p {
    padding-top: 20px;
    margin: 0;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-weight: 200;
}